<footer
	class="footer-basic"
	style="color: var(--bs-gray-300); background: var(--bs-dark)">
	<div class="social">
		<a
			href="#"
			style="
				color: var(--bs-success);
				border-style: none;
				border-color: var(--bs-success);
			"
			><i
				class="icon ion-social-instagram"
				style="color: var(--bs-blue)"></i></a
		><a
			href="#"
			style="
				color: var(--bs-success);
				border-style: none;
				border-color: var(--bs-success);
			"
			><i
				class="icon ion-social-snapchat"
				style="color: var(--bs-blue)"></i></a
		><a
			href="#"
			style="
				color: var(--bs-blue);
				border-style: none;
				border-color: var(--bs-success);
			"
			><i class="icon ion-social-twitter"></i></a
		><a
			href="#"
			style="
				color: var(--bs-success);
				border-style: none;
				border-color: var(--bs-success);
			"
			><i class="icon ion-social-facebook" style="color: var(--bs-blue)"></i
		></a>
	</div>
	<ul class="list-inline">
		<li class="list-inline-item"><a routerLink="/home">Home</a></li>
		<li class="list-inline-item"><a routerLink="/services">Services</a></li>
		<li class="list-inline-item"><a routerLink="/prices">Pricing</a></li>
		<li class="list-inline-item"><a routerLink="/team">Team</a></li>
		<li class="list-inline-item"><a href="#">Terms</a></li>
		<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
	</ul>
	<p class="copyright" style="color: var(--bs-white)">
		P.O 45 Nowhere Street, Golden City Road, Golden City
	</p>
	<p class="copyright" style="color: var(--bs-white)">Quaco Mobility © 2022</p>
</footer>
