<nav
	class="navbar navbar-light navbar-expand-lg navigation-clean-button"
	style="border-bottom-style: ridge">
	<div class="container">
		<a class="navbar-brand" href="#" style="font-size: 30px">QUACO</a
		><button
			class="navbar-toggler"
			(click)="collapse = !collapse"
			(show)="collapse = true">
			<span class="visually-hidden">Toggle navigation</span
			><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" [ngbCollapse]="collapse">
			<ul class="navbar-nav me-auto">
				<li class="nav-item" routerLink="/services">
					<a class="nav-link active">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active">Drive &amp; Earn</a>
				</li>
			</ul>
			<span *ngIf="!active" class="navbar-text actions">
				<a class="login" routerLink="/login">Log In</a
				><a
					class="btn btn-light action-button"
					role="button"
					routerLink="/signup"
					style="background: var(--bs-teal)"
					>Sign Up</a
				></span
			>
			<span *ngIf="active" class="navbar-text actions">
				<a
					class="btn btn-light action-button"
					role="button"
					routerLink="/users"
					>Profile</a
				></span
			>
		</div>
	</div>
</nav>
<section
	class="features-blue"
	style="
		padding: 30px 30px;
		background: linear-gradient(var(--bs-green) 75%, var(--bs-blue)),
			var(--bs-success);
		color: var(--bs-info);
	">
	<h1 class="display-2 text-center flex-grow-1">Pricing</h1>
	<div class="container">
		<div class="intro">
			<p class="text-center">
				Get an eye-full of our packages and deals at mind blowing prices.
			</p>
		</div>
		<div class="row features">
			<div class="col-sm-6 col-md-4 item">
				<i
					class="far fa-money-bill-alt icon"
					style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">Regular User</h3>
				<p class="description">
					Pay for trips by distance at a rate of JMD$750.00/10km and enjoy
					A/C cooling
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i
					class="fas fa-money-check icon"
					style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Quaco Membership Card
				</h3>
				<p class="description">
					Get 37.5% off on your trip when visiting a hot-spot (promotion)
					with Quaco Membership at a rate of JMD$1000.00/mo
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i
					class="fas fa-glass-cheers icon"
					style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Quaco Premium Tiers
				</h3>
				<p class="description">
					Go first when drivers are looking for charters to take for just
					JMD$750.00/mo for Tier1 and additional JMD$250.00/mo for
					additional tiers (availability depends on user statistics)
				</p>
			</div>
		</div>
	</div>
	<div
		class="d-flex justify-content-evenly brands"
		style="background: rgba(0, 0, 0, 0.5)">
		<h1 class="display-6 text-center" style="color: var(--bs-white)">
			Hot Spots
		</h1>
	</div>
	<div
		class="d-flex justify-content-evenly align-items-center brands"
		style="padding: 40px 0px; background: rgba(0, 0, 0, 0.5)">
		<img src="assets/img/1200px-KFC_logo.svg.png" height="128px" /><img
			height="128px"
			src="assets/img/TGI_Fridays-logo-5E858600FD-seeklogo.com.png" /><img
			height="64px"
			src="assets/img/Progressive-Grocer-logo.png" /><img
			height="240px"
			src="assets/img/54482ccd-1569-4f85-9cb3-63db7a8027b5.webp"
			style="margin: -48px" /><img
			height="160px"
			src="assets/img/1585584132-denon-house-logo.png"
			style="margin: -16px" />
	</div>
	<section
		class="testimonials-clean"
		style="background: rgba(238, 244, 247, 0)">
		<div class="container">
			<div class="intro">
				<h1 class="display-6 text-center" style="color: var(--bs-white)">
					Testimonials
				</h1>
				<p class="text-center" style="color: var(--bs-gray-200)">
					Our customers love us! Read what they have to say below.
				</p>
			</div>
			<div class="row people">
				<div class="col-md-6 col-lg-4 item">
					<div class="box">
						<p class="description">
							These guys are great, especially with the membership card I
							can save money going to places I love!
						</p>
					</div>
					<div class="author">
						<img class="rounded-circle" src="assets/img/1.jpg" />
						<h5 class="name">Ben Johnson</h5>
						<p class="title">CEO of Company Inc.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 item">
					<div class="box">
						<p class="description">
							Even as a regular user, I can enjoy affordable prices and
							expect a good ride.
						</p>
					</div>
					<div class="author">
						<img class="rounded-circle" src="assets/img/3.jpg" />
						<h5 class="name">Carl Kent</h5>
						<p class="title">Founder of Style Co.</p>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 item">
					<div class="box">
						<p class="description">
							I have to get places really quickly really suddenly at
							times, so I'm glad Quaco Premium gets my rides ASAP.
						</p>
					</div>
					<div class="author">
						<img class="rounded-circle" src="assets/img/2.jpg" />
						<h5 class="name">Emily Clark</h5>
						<p class="title">Owner of Creative Ltd.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
