<section
	style="
		min-height: 100vh;
		background: linear-gradient(var(--bs-green) 50%, var(--bs-blue)),
			var(--bs-success);
	">
	<nav
		class="navbar navbar-dark navbar-expand-lg bg-success navigation-clean-button">
		<div class="container">
			<a
				class="navbar-brand"
				href="#"
				style="font-size: 30px; color: var(--bs-white)"
				>QUACO</a
			><button
				class="navbar-toggler"
				(click)="collapse = !collapse"
				(show)="collapse = true">
				<span class="visually-hidden">Toggle navigation</span
				><span class="navbar-toggler-icon"></span>
			</button>
			<div [ngbCollapse]="!collapse" class="navbar-collapse">
				<ul class="navbar-nav me-auto">
					<li class="nav-item" routerLink="../">
						<a class="nav-link active">Front Desk</a>
					</li>
					<li class="nav-item" routerLink="../wallet">
						<a class="nav-link active">Wallet</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active">Details</a>
					</li>
					<li class="nav-item" routerLink="../history">
						<a class="nav-link active">History</a>
					</li>
					<li class="nav-item" routerLink="/prices">
						<a class="nav-link active">Pricing</a>
					</li>
					<li class="nav-item" routerLink="/services">
						<a class="nav-link active">Services</a>
					</li>
				</ul>
				<span class="navbar-text actions">
					<a
						class="btn btn-light action-button"
						role="button"
						(click)="logout()"
						style="background: var(--bs-teal)"
						>Sign Out</a
					></span
				>
			</div>
		</div>
	</nav>
	<div class="container hero" style="padding: 40px auto">
		<div class="row row-cols-2">
			<form #form="ngForm" class="col-6 col-lg-6 col-xl-5">
				<div
					class="offset-xl-1 d-flex flex-column justify-content-between text-white">
					<h1 style="margin: 24px 0px">Personal Details</h1>

					<span style="font-size: 24px">Name</span
					><input
						type="text"
						name="name"
						[(ngModel)]="user.name" /><span style="font-size: 24px"
						>Username</span
					><input
						type="text"
						name="username"
						[(ngModel)]="user.username" /><span
						style="font-size: 24px"
						>Email</span
					><input
						type="email"
						name="contact"
						[(ngModel)]="user.email" /><span style="font-size: 24px"
						>Primary Address</span
					><textarea #place name="_addr" [(ngModel)]="user.address">
<br/></textarea
					><button
						class="btn btn-primary"
						type="button"
						style="margin: 24px 0px; background: var(--bs-teal)"
						(click)="update()">
						Update
					</button>
				</div>
			</form>
			<div class="col-6" style="overflow: hidden; height: 86vh">
				<img
					class="img-fluid"
					src="assets/img/pexels-godisable-jacob-1537496.jpg"
					width="100%" />
			</div>
		</div>
	</div>
</section>
