<nav
	class="navbar navbar-dark navbar-expand-lg bg-success navigation-clean-button">
	<div class="container">
		<a
			class="navbar-brand"
			href="#"
			style="font-size: 30px; color: var(--bs-white)"
			>QUACO</a
		><button
			data-bs-toggle="collapse"
			class="navbar-toggler"
			data-bs-target="#navcol-1">
			<span class="visually-hidden">Toggle navigation</span
			><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="navbar-nav me-auto">
				<li class="nav-item" routerLink="../">
					<a class="nav-link active">Front Desk</a>
				</li>
				<li class="nav-item" routerLink="../wallet">
					<a class="nav-link active">Wallet</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active">Details</a>
				</li>
				<li class="nav-item" routerLink="../history">
					<a class="nav-link active">History</a>
				</li>
				<li class="nav-item" routerLink="/prices">
					<a class="nav-link active">Pricing</a>
				</li>
				<li class="nav-item" routerLink="/services">
					<a class="nav-link active">Services</a>
				</li>
			</ul>
			<span class="navbar-text actions">
				<a
					class="btn btn-light action-button"
					role="button"
					(click)="logout()"
					style="background: var(--bs-teal)"
					>Sign Out</a
				></span
			>
		</div>
	</div>
</nav>
<div class="container hero" style="margin: 40px auto">
	<div class="row row-cols-2">
		<div class="col-6 col-lg-6 col-xl-5 offset-xl-1 d-flex flex-column">
			<h1 style="margin: 24px 0px">Personal Details</h1>
			<span style="color: var(--bs-gray); font-size: 24px">Username</span
			><input type="text" [(ngModel)]="user.email" /><span
				style="color: var(--bs-gray); font-size: 24px"
				>Email</span
			><input type="email" /><span
				style="color: var(--bs-gray); font-size: 24px"
				>Address</span
			><textarea></textarea
			><span style="color: var(--bs-gray); font-size: 24px">Music</span
			><select class="form-select-lg">
				<optgroup label="This is a group">
					<option value="12" selected="">This is item 1</option>
					<option value="13">This is item 2</option>
					<option value="14">This is item 3</option>
				</optgroup></select
			><span style="color: var(--bs-gray); font-size: 24px">Language</span
			><select class="form-select-lg">
				<optgroup label="This is a group">
					<option value="12" selected="">This is item 1</option>
					<option value="13">This is item 2</option>
					<option value="14">This is item 3</option>
				</optgroup></select
			><button
				class="btn btn-primary"
				type="button"
				style="margin: 24px 0px; background: var(--bs-teal)">
				Update
			</button>
		</div>
		<div class="col-6">
			<img
				class="img-fluid"
				src="assets/img/pexels-godisable-jacob-1537496.jpg"
				width="100%" />
		</div>
	</div>
</div>
