<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
	<div class="container">
		<a class="navbar-brand" routerLink="/home" style="font-size: 30px"
			>QUACO</a
		><button
			data-bs-toggle="collapse"
			class="navbar-toggler"
			data-bs-target="#navcol-1">
			<span class="visually-hidden">Toggle navigation</span
			><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="navbar-nav me-auto">
				<li class="nav-item" routerLink="../">
					<a class="nav-link active">Front Desk</a>
				</li>
				<li class="nav-item" routerLink="../wallet">
					<a class="nav-link active">Wallet</a>
				</li>
				<li class="nav-item" routerLink="../details">
					<a class="nav-link active">Details</a>
				</li>
				<li class="nav-item" routerLink="../history">
					<a class="nav-link active">History</a>
				</li>
				<li class="nav-item" routerLink="/prices">
					<a class="nav-link active">Pricing</a>
				</li>
				<li class="nav-item" routerLink="/services">
					<a class="nav-link active">Services</a>
				</li>
			</ul>
			<span class="navbar-text actions">
				<a
					class="btn btn-light action-button"
					role="button"
					(click)="logout()"
					>Sign Out</a
				></span
			>
		</div>
	</div>
</nav>
<div>
	<div class="card">
		<div class="card-body d-flex justify-content-center align-items-center">
			<div style="padding: 20px">
				<h4>{{ user.username.toUpperCase() }}</h4>
				<h5 class="text-secondary">{{ user.name + ' ' + user.surname }}</h5>
				<hr
					style="
						color: var(--bs-success);
						border-width: 1px;
						border-style: solid;
					" />
				<h5 class="text-dark">Active Address</h5>
				<h5 class="text-secondary">{{ user.address }}</h5>
			</div>
			<div
				style="width: calc(12.5vw + 12.5vh); height: calc(12.5vw + 12.5vh)">
				<div
					style="
						height: calc(12.5vw + 12.5vh);
						width: calc(12.5vw + 12.5vh);
						background: url('assets/img/chad.jpg');
						background-size: cover;
						border-radius: 50%;
						margin-bottom: 20px;
					"></div>
			</div>
			<div #map style="margin: 20px; width: 400px; height: 200px"></div>
		</div>
	</div>
</div>
<section
	class="highlight-clean"
	style="
		background: linear-gradient(
				165deg,
				var(--bs-green) 20%,
				rgb(22, 129, 128) 67%,
				rgb(18, 120, 189) 88%,
				var(--bs-blue) 100%
			),
			var(--bs-success);
	">
	<div class="container">
		<div class="intro">
			<h1 class="display-5 text-center" style="color: var(--bs-gray-300)">
				Heading Out?&nbsp;<strong>🚗</strong><br />
			</h1>
			<p class="text-center" style="color: var(--bs-white)">
				Arrange a pickup at your active address or let us know where you
				are.
			</p>
		</div>
		<div class="buttons">
			<a
				class="btn btn-primary"
				role="button"
				routerLink="../charter"
				style="background: var(--bs-teal)"
				>Pick me up at home</a
			><button
				class="btn btn-light"
				type="button"
				routerLink="../charter"
				style="
					background: rgba(221, 221, 221, 0);
					color: var(--bs-white);
					border-style: solid;
					border-color: var(--bs-teal);
				">
				Pick me up elsewhere
			</button>
		</div>
	</div>
</section>
<section class="bg-dark highlight-phone">
	<div class="container">
		<div class="row" style="margin: 0px 10%">
			<div class="col-md-8">
				<div class="intro">
					<h1 class="display-5" style="color: var(--bs-gray-100)">
						Manage Payments
					</h1>
					<p>
						Add, Remove and Update cards in the wallet. We accept debit
						and credit cards from the world's foremost financial service
						providers.
					</p>
					<a
						class="btn btn-primary"
						role="button"
						routerLink="../wallet"
						style="
							background: rgba(0, 0, 0, 0);
							color: var(--bs-white);
							border-style: solid;
							border-color: var(--bs-gray-100);
						"
						>My Wallet</a
					>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="d-none d-md-block phone-mockup">
					<img
						class="device"
						src="assets/img/png_credit_card_30165.png"
						style="width: 200%; height: 200%" />
				</div>
			</div>
		</div>
	</div>
</section>
<section
	class="highlight-blue"
	style="
		background: linear-gradient(
				15deg,
				var(--bs-green) 20%,
				rgb(21, 127, 138) 67%,
				rgb(17, 118, 199) 88%,
				var(--bs-blue) 100%
			),
			var(--bs-success);
		border-color: var(--bs-teal);
	">
	<div class="container">
		<div class="intro">
			<h1 class="display-5 text-center" style="color: var(--bs-gray-400)">
				Change Your Details
			</h1>
			<p class="text-center" style="color: var(--bs-white)">
				Edit your username, email, active address and other information in
				the details centre.
			</p>
		</div>
		<div class="buttons">
			<a
				class="btn btn-primary"
				role="button"
				routerLink="../details"
				style="border-color: var(--bs-teal)"
				>Details Centre</a
			>
		</div>
	</div>
</section>
