<section
	class="login-dark"
	style="
		background: url('assets/img/pexels-suzukii-xingfu-674665.jpg') center /
			cover;
	">
	<nav
		class="navbar navbar-light navbar-expand-lg navigation-clean"
		style="background: rgba(255, 255, 255, 0); color: var(--bs-white)">
		<div class="container">
			<a class="navbar-brand" routerLink="/home" style="font-size: 30px"
				>QUACO</a
			>
			<div
				class="collapse navbar-collapse"
				[ngbCollapse]="collapse"></div>
		</div>
	</nav>
	<form #form="ngForm" style="max-width: 400px">
		<h2 class="visually-hidden">Sign Up Form</h2>
		<div class="illustration">
			<i class="icon ion-key" style="color: var(--bs-success)"></i>
		</div>
		<div class="mb-3">
			<input
				required
				class="form-control"
				type="text"
				placeholder="Name"
				name="name"
				[(ngModel)]="user.name" />
		</div>
		<div class="mb-3">
			<input
				required
				class="form-control"
				type="text"
				placeholder="Username"
				name="username"
				[(ngModel)]="user.username" />
		</div>
		<div class="mb-3">
			<input
				required
				class="form-control"
				type="email"
				name="contact"
				placeholder="Email"
				email=""
				[(ngModel)]="user.email" />
		</div>
		<div class="mb-3">
			<input
				#place
				autocomplete="off"
				class="form-control"
				type="text"
				name="address"
				placeholder="Address"
				[value]="user.address ?? ''"
				required="" />
		</div>
		<div class="mb-3">
			<label>
				<input
					required
					class="form-control"
					type="password"
					name="password"
					placeholder="Password"
					pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])((?=.*[^\w\d\s:])|(?=.*[_]))([^\s])*$"
					[(ngModel)]="user.password" />
				<span style="color: lightgray; font-size: 15px"
					>8-10 characters long and at least (1) Uppercase, Lowercase,
					Number, Symbol</span
				>
			</label>
		</div>
		<div class="mb-3">
			<input
				required
				class="form-control"
				type="password"
				name="confirm_password"
				ngModel
				[ngStyle]="
					form.controls['confirm_password']?.valid
						? { color: 'inherit' }
						: { color: 'red' }
				"
				placeholder="Re-Enter Password"
				[pattern]="form.controls['password'].value" />
		</div>
		<div class="mb-3">
			<label class="form-label"
				>Profile Picture<input
					class="form-control"
					type="file"
					name="files"
					(change)="files($event.target)"
					required
					ngModel
			/></label>
		</div>
		<div class="mb-3">
			<button
				class="btn btn-primary d-block w-100"
				type="submit"
				style="background: var(--bs-success)"
				(click)="submit(form)">
				Sign up
			</button>
		</div>
		<div class="mb-3">
			<button
				class="btn btn-primary d-block w-100"
				type="submit"
				style="background: var(--bs-success)"
				routerLink="/login">
				Already have an account?
			</button>
		</div>
	</form>
</section>
