<section
	class="login-dark"
	style="
		background: url('assets/img/pexels-suzukii-xingfu-674665.jpg') center /
			cover;
	">
	<nav
		class="navbar navbar-light navbar-expand-lg navigation-clean"
		style="background: rgba(255, 255, 255, 0); color: var(--bs-white)">
		<div class="container">
			<a class="navbar-brand" routerLink="/home" style="font-size: 30px">QUACO</a>
			<div class="collapse navbar-collapse" id="navcol-1"></div>
		</div>
	</nav>
	<form style="max-width: 400px">
		<h2 class="visually-hidden">Login Form</h2>
		<div class="illustration">
			<i
				class="icon ion-ios-locked-outline"
				style="color: var(--bs-success)"></i>
		</div>
		<div class="mb-3">
			<input
				class="form-control"
				type="email"
				name="email"
				placeholder="Email" />
		</div>
		<div class="mb-3">
			<input
				class="form-control"
				type="password"
				name="password"
				placeholder="Password" />
		</div>
		<div class="mb-3">
			<button
				class="btn btn-primary d-block w-100"
				type="submit"
				style="background: var(--bs-success)">
				Log In
			</button>
		</div>
		<div class="mb-3">
			<button
				class="btn btn-primary d-block w-100"
				type="submit"
				style="background: var(--bs-success)">
				Create an Account
			</button>
		</div>
		<a class="forgot" href="#">Forgot your email or password?</a>
	</form>
</section>
