<nav
	class="navbar navbar-light navbar-expand-lg navigation-clean-button"
	style="border-bottom-style: ridge">
	<div class="container">
		<a class="navbar-brand" href="#" style="font-size: 30px">QUACO</a
		><button
			data-bs-toggle="collapse"
			class="navbar-toggler"
			data-bs-target="#navcol-1">
			<span class="visually-hidden">Toggle navigation</span
			><span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="navbar-nav me-auto">
				<li class="nav-item" routerLink="/prices">
					<a class="nav-link active">Pricing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active">Drive &amp; Earn</a>
				</li>
			</ul>
			<span *ngIf="!active" class="navbar-text actions">
				<a class="login" routerLink="/login">Log In</a
				><a
					class="btn btn-light action-button"
					role="button"
					routerLink="/signup"
					style="background: var(--bs-teal)"
					>Sign Up</a
				></span
			>
			<span *ngIf="active" class="navbar-text actions">
				<a
					class="btn btn-light action-button"
					role="button"
					routerLink="/users"
					>Profile</a
				></span
			>
		</div>
	</div>
</nav>
<section
	class="features-blue"
	style="
		padding: 30px 30px;
		background: linear-gradient(var(--bs-green) 75%, var(--bs-blue)),
			var(--bs-success);
		color: var(--bs-info);
	">
	<h1 class="display-2 text-center flex-grow-1">Services</h1>
	<div class="container">
		<div class="intro">
			<p class="text-center">
				Rely on Quaco Mobility to get you where you need to be.
			</p>
		</div>
		<div class="row features">
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-map-marker icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Wide Coverage
				</h3>
				<p class="description">
					Catch a ride almost anywhere across the island, with our 73%
					terrain coverage.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-clock-o icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Always available
				</h3>
				<p class="description">
					They say justice never sleeps, so getting you where you need to
					be is our justice.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-list-alt icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">Customizable</h3>
				<p class="description">
					Request music, multi-lingual drivers and even specify the kind of
					vehicle you'd like to hit the road in.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-leaf icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Environmentally Friendly
				</h3>
				<p class="description">
					Our electric options allow for our earnest clients to lessen the
					impact on the environment.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-plane icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">Fast</h3>
				<p class="description">
					There before you can ask "are we there yet?" With customized GPS
					for the best routes given to every driver.
				</p>
			</div>
			<div class="col-sm-6 col-md-4 item">
				<i class="fa fa-phone icon" style="color: var(--bs-info)"></i>
				<h3 class="name" style="color: var(--bs-gray-100)">
					Call 1(876)444-4444
				</h3>
				<p class="description">
					Our cheerful and efficient customer service representatives are
					always here to serve you.
				</p>
			</div>
		</div>
	</div>
</section>
